.git
.gitignore
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.venv
**/venv
*.db
.env
.cursor
README.md
frontend/node_modules
static/assets
uploads/*
!uploads/.gitkeep
database/*
!database/.gitkeep
